<script type="text/javascript">

function load_protest(data){
  var avatar_output = '';
  if (is_exhibition_running()) {
    debug("EXHIBITION IS A GO!");
    avatar_output = build_exhibition_avatars();
  } else {
    debug("Using old occupyinter.net protest");
    avatar_output = build_avatars();
  }

  // Add and start animating
  var protester_avatars = document.getElementById('occupy-protestor_avatars');
  if (typeof(protester_avatars) != 'undefined') protester_avatars.innerHTML = avatar_output;

  add_audio();
  show_protest();

  if (!is_exhibition_running()) {
    debug("animating avatars...");
    move_avatars();
  }
};

function is_exhibition_running(){
  var start_date = Date.UTC(2011, 11, 1, 13, 0, 0), // Nov 1 8am EST
      end_date = Date.UTC(2011, 11, 4, 13, 0, 0); // Nov 4 8am EST

  // stupid but effective
  var now = new Date();
  var month = now.getUTCMonth() + 1; // FIXME why is this -1?!?! really weird...
  var now_utc = Date.UTC(now.getUTCFullYear(), month, now.getUTCDate(),  now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());

  if (now_utc >= start_date && now_utc <= end_date) {
    return true;
  } else if (is_dev()) {
    debug("Devmode, enabling exhibition");
    return true;
  } else {
    return false;
  }
}

function is_dev(){
  return window.location.hostname == 'localhost' || window.location.hostname == 'localtunnel';
}

function build_avatars(){
  var avatar_output = '';

  // Create some fakeish protestor data
  data = {}
  if (typeof(occupy_internet_protesters) == 'object' && occupy_internet_protesters.length) {
    data.protesters = occupy_internet_protesters;
  }
  if (typeof(data.protesters) == 'undefined' || data.protesters.length <= 0) {
    data.protesters = <%= avatars.to_json %>;
  }

  // Randomize avatar order
  data.protesters.sort(function(){ return 0.5 - Math.random() });

  // Add specified number of avatars
  var max_protesters = 10;
  if (data.protesters.length < max_protesters) max_protesters = data.protesters.length;
  for(var i = 0; i < max_protesters; i++){
    var protestor = data.protesters[i];

    var bottom = 0,
        left = (i*150)-50,
        zindex = (100+Math.floor(Math.random()*20));
    avatar_output += '<div id="avatar'+i+'" class="bigavatar" style="position: absolute; bottom: '+bottom+'px; left: '+left+'px; z-index: '+zindex+'">';
    avatar_output += '<img src="'+protestor.avatar+'" />';
    // if(protestor.tagline != '' && protestor.tagline != undefined){
    //  avatar_output += '<span class="tagline">'+protestor.tagline+'</span>';
    // }
    avatar_output += '</div>';
  }
  return avatar_output;
}

function build_exhibition_avatars(){

  // Hide occupy stuff, show exhibition stuff
  document.getElementById('occupy-joinprotest').style.display = 'none';
  document.getElementById('occupy-mute').style.display = 'none';
  document.getElementById('occupy-exhibition-info').style.display = 'block';
  document.getElementById('occupy-avatars').style.bottom = '0px';
  document.getElementById('occupy-avatars').style.left = '0px';

  // Allow mouse pointer events now
  //document.getElementById('occupy-protestor_avatars').style.pointerEvents = 'auto';

  var avatar_output = '';
  var data =  [
    // Curated by Evan Roth (@fi5e) http://evan-roth.com
    {'avatar':'<%= server %>/exhibition/constant-dullaart-occupy.gif', 'artist':'Constant Dullaart', 'artist_url':'http://constantdullaart.com/', 'title':'Constant Dullaart', 'left':'0', 'bottom':'-150'},
    {'avatar':'<%= server %>/exhibition/olia-dragan-2-occupy.gif', 'artist':'Olia Lialina', 'artist_url':'http://art.teleportacia.org/olia.html', 'title':'Olia Lialina', 'left':'0', 'bottom':'0'},
    {'avatar':'<%= server %>/exhibition/charlie-todd-occupy.gif', 'artist':'Charlie Todd', 'artist_url':'http://improveverywhere.com/', 'title':'Charlie Todd', 'left':'1100', 'bottom':'0', 'width':'250', 'height':'187'},
    {'avatar':'<%= server %>/exhibition/UBERMORGEN-occupy.gif', 'artist':'UBERMORGEN', 'artist_url':'http://www.ubermorgen.com/', 'title':'UBERMORGEN', 'left':'300', 'bottom':'25', 'width':'800', 'height':'194'},
    {'avatar':'<%= server %>/exhibition/brad-downey-occupy.gif', 'artist':'Brad Downey', 'artist_url':'http://www.braddowney.com/', 'title':'Brad Downey', 'left':'890', 'bottom':'50', 'width':'250', 'height':'316'},
    {'avatar':'<%= server %>/exhibition/la-quadrature-occupy-internet.gif', 'artist':'La Quadrature Du Net', 'artist_url':'http://www.laquadrature.net/', 'title':'La Quadrature Du Net', 'left':'1250', 'bottom':'0', 'width':'225', 'height':'212'},
    {'avatar':'<%= server %>/exhibition/mark-jenkins-occupy.gif', 'artist':'Mark Jenkins', 'artist_url':'http://www.xmarkjenkinsx.com/', 'title':'Mark Jenkins', 'left':'410', 'bottom':'0', 'width':'175', 'height':'296'},
    {'avatar':'<%= server %>/exhibition/olia-dragan-occupy.gif', 'artist':'Dragan Espenschied', 'artist_url':'http://drx.a-blast.org/~drx/index.en.html', 'title':'Dragan Espenschied', 'left':'70', 'bottom':'0'},
    {'avatar':'<%= server %>/exhibition/peretti-occupy-1.gif', 'artist':'Jonah Peretti & Chelsea Peretti', 'artist_url':'http://www.blackpeopleloveus.com/', 'title':'Jonah Peretti & Chelsea Peretti', 'left':'980', 'bottom':'0', 'width':'200', 'height':'209'},
    {'avatar':'<%= server %>/exhibition/ryder-ripps-occupy.gif', 'artist':'Ryder Ripps', 'artist_url':'http://ryder-ripps.com/', 'title':'Ryder Ripps', 'left':'600', 'bottom':'0', 'width':'250', 'height':'250'},
    {'avatar':'<%= server %>/exhibition/peretti-occupy-2.gif', 'artist':'Jonah Peretti & Chelsea Peretti', 'artist_url':'http://www.blackpeopleloveus.com/', 'title':'Jonah Peretti & Chelsea Peretti', 'left':'1330', 'bottom':'0', 'width':'200', 'height':'306'},
    {'avatar':'<%= server %>/exhibition/aram-bartholl-occupy.gif', 'artist':'Aram Bartholl', 'artist_url':'http://datenform.de/', 'title':'Aram Bartholl', 'left':'1530', 'bottom':'0', 'width':'200', 'height':'223'},
    {'avatar':'<%= server %>/exhibition/telecomix-occupy.gif', 'artist':'Telecomix', 'artist_url':'http://telecomix.org/', 'title':'Telecomix', 'left':'1450', 'bottom':'0'},
    {'avatar':'<%= server %>/exhibition/rafael-rozendaal-occupy.gif', 'artist':'Rafael Rozendaal', 'artist_url':'http://www.newrafael.com/', 'title':'Rafael Rozendaal', 'left':'200', 'bottom':'0'},

  ];

  for(var i = 0; i < data.length; i++){
    var protestor = data[i],
        bottom = protestor.bottom,
        left = protestor.left,
        zindex = 100 + i,
        caption = 'By <strong>'+protestor.artist+'</strong>';

    avatar_output += '<div id="avatar'+i+'" class="bigavatar" style="position: absolute; bottom: '+bottom+'px; left: '+left+'px; z-index: '+zindex+'">';
    avatar_output += '<a rel="nofollow" class="avatar-link" href="'+protestor.artist_url+'" target="_blank">';
    avatar_output += '<img src="'+protestor.avatar+'" alt="'+caption+'" title="'+caption+'"';
    if (protestor.height && protestor.height){
      avatar_output += ' width="'+protestor.width+'" height="'+protestor.height+'"';
    }
    avatar_output += ' />';
    avatar_output += '<span class="avatar-caption">'+caption+'</a>';
    avatar_output += '</a>';
    // if(protestor.tagline != '' && protestor.tagline != undefined){
    //  avatar_output += '<span class="tagline">'+protestor.tagline+'</span>';
    // }
    avatar_output += '</div>';
  }
  return avatar_output;



}

var audio_is_playing = false;
function add_audio(){
  var audio = document.createElement('audio'),
      img = document.getElementById('occupy-audio-image');

  if (!audio) return;

  audio.id = 'occupy-audio';
  audio.loop = 'true';
  audio.volume = .2;
  audio.src = '<%= default_sound_url %>';
  if (typeof(occupy_internet_audio_src) != 'undefined') audio.src = occupy_internet_audio_src;

  if (!!audio_setting().play) {
    audio.play();
    audio_is_playing = true;
    if (img) img.src = "<%= server %>/images/mute.png";
  } else {
    if (img) img.src = "<%= server %>/images/unmute.png";
  }

  var widget = document.getElementById('occupy-widget')
  if (widget) widget.appendChild(audio);
}

function toggle_audio(){
  var audio = document.getElementById('occupy-audio'),
      img = document.getElementById('occupy-audio-image');

  if (!audio) return;

  if (!!audio_is_playing){
    // add cookie thing here (set false)
    audio.pause();
    audio_is_playing = false;
    if (img) img.src = "<%= server %>/images/unmute.png";
  } else {
    // add cookie thing here (set true)
    audio.play();
    audio_is_playing = true;
    if (img) img.src = "<%= server %>/images/mute.png";
  }
}
function audio_setting() {
  // add cookie stuff here to detect play or pauses
  return {play : false};
}


function show_protest(){
  var widget_wrapper = document.getElementById('occupy-widget-wrapper');
  if (!widget_wrapper) return;
  widget_wrapper.style.display = "block";

  // var avatars = document.getElementById('occupy-avatars');
  // avatars.style.bottom = "-200px";
  // slide_protest_in(avatars);
}

function slide_protest_in(el){
  setTimeout(function(){
    if(parseInt(el.style.bottom) >= -20){
      // Done
    }
    else {
      el.style.bottom = (parseInt(el.style.bottom) + 12)+'px';
      slide_protest_in(el);
    }
  }, 10);
}


function move_avatars(counter){
  setTimeout(function(){
    if(counter == undefined){
      counter = 0;
    }
    var els = document.getElementsByClassName('bigavatar');
    for(var j = 0; j < els.length; j++){
      var el = els[j];
      var distance = (counter % 10 < 5) == 0 ? -2 : 2;
      if(counter % 15 == 0){
        var left = (counter + j) % 2 == 0 ? 4 : -4;
      }
      el.style.bottom = (parseInt(el.style.bottom) + distance) + 'px';
      el.style.left = (parseInt(el.style.left) + left) + 'px';
    }

    counter += 1;
    move_avatars(counter);
  }, 100);
}

function toggle_customize(){
  return true; // disabled

  var el = document.getElementById('occupy-customize');
  if (!el) return false;
  if(el.style.display == 'none'){
    el.style.display = 'block';
  } else {
    el.style.display = 'none';
  }
}

function join_protest(){
  document.getElementById('occupy-joinprotest-form').submit();
}

// Initialize protest onload
if(window.attachEvent) {
  window.attachEvent('onload', load_protest);
} else {
  if(window.onload) {
    var curronload = window.onload;
    var newonload = function() {
      load_protest;
    };
    window.onload = newonload;
  } else {
    window.onload = load_protest;
  }
}


</script>

<div id="occupy-widget-wrapper" style="display: none;">
<div id="occupy-widget" class="occupy-widget">
  <script type="text/javascript">
  var dev_mode = <%= dev? %>;
  function debug(msg) {
    if (!dev_mode) return;
    console.log(msg);
  }

  <% avatar_orderly = ['0','false'].include?(params['orderly'].to_s) ? 'false' : 'true' %>
  <% avatar_size = params['size'] ? params['size'].to_i : 200 %>

  var avatar_orderly = <%= avatar_orderly %>;
  var avatar_size = '<%= avatar_size %>px';
  </script>

  <link rel="stylesheet" type="text/css" href="<%= server %>/stylesheets/widget.css" />

  <div id="occupy-joinprotest">
    <form id="occupy-joinprotest-form" method="POST" action="<%= server %>/join_protest">
      <a href="http://fffff.at/occupy-the-internet" target="_blank" class="bigavatar" id="occupy-joinprotest-button">We Are Occupying The Internet!</a>
    </form>
    <div id="occupy-length">
      <a href="<%= server %>/stats">
        <%= @host %>: <span id="occupy-length-days"><%= @been_protesting_for %> <%= @been_protesting_for != 1 ? 'days' : 'day' %></span>
      </a>
    </div>
  </div>

  <div id="occupy-mute">
    <a href="#" onclick="toggle_audio(); return false;"><img id="occupy-audio-image" src="<%= server %>/images/mute.png" alt="Mute" title="Mute Protest Audio" /></a>
  </div>

  <div id="occupy-exhibition-info">
    <a id="occupy-exhibition-title" href="http://fffff.at/occupy-the-internet-the-exhibition/">Occupy The Internet Exhibition</a>
    <a id="occupy-exhibition-fatlab-link" href="http://fffff.at">11/1&ndash;11/4&nbsp;&nbsp;more info on fffff.at</a>
  </div>

  <div id="occupy-avatars"><span id="occupy-protestor_avatars"></span></div>
</div>
</div>
