<style type="text/css">
#occupy-widget-wrapper { position: fixed; bottom: 0px; left: 0px; z-index: 200; font-family: sans-serif;  width: 100%; height: 370px; overflow: hidden; overflow-x: scroll; }
/* #occupy-widget-wrapper { pointer-events: none; } */ /* weird scrolling issues otherwise */
#occupy-widget { }
#occupy-customize { font-family: sans-serif; }

.occupy-widget .avatar { float: left; padding: 2px; margin: 0 10px 10px 0; text-align: center; font-family: Impact, sans-serif; font-size: 16pt; font-weight: normal; }

.occupy-widget .avatar, .occupy-widget .avatar a, .occupy-widget .avatar img {
/*  height: 230px;*/ /* TODO re-add after exhibition */
}
.occupy-widget .avatar a, .occupy-widget .bigavatar a { display: block; border: 5px solid transparent; }
.occupy-widget .avatar a:hover, .occupy-widget .bigavatar a:hover { border-color: #f0f; }
.occupy-widget .avatar a.selected, .occupy-widget .bigavatar a.selected { border-color: #ff0; }
.occupy-widget .bigavatar span { position: relative; top: -160px; right: 50px; background-color: #fff; color: #333; padding: 6px 10px; border: 1px solid #666; }

#occupy-customize #introduction { float: left; width: 350px; margin-top: 30px; padding-right: 25px; }
#occupy-customize #introduction strong { font-size: 15pt; color: #f0f; padding: 0 20px; }
#occupy-customize #signage { }
#occupy-customize #signage { float: left; width: 300px; height: 120px; margin-top: 50px; }
#occupy-customize #signage input { font-size: 15pt; padding: 10px; }

#occupy-customize #avatars { background: #fef; clear: both; }

#occupy-customize #embed_code { margin-bottom: 20px; font-size: 8pt; width: 300px; background-color: #dedede; padding: 5px 1px 0; }

.occupy-widget #occupy-uuid { display: none; }
.occupy-widget #occupy-customize {  }
.occupy-widget #occupy-you { position: absolute; z-index: 5; color: #ccc; background: #f0f; opacity: 0.7; font-family: sans-serif; padding-top: 5px; margin-top: -80px; width: 180px; text-align: center; }
.occupy-widget #occupy-you a { color: #fff; font-weight: bold; font-size: 10pt; display: block; padding: 5px 8px; border: 0; height: 20px; }
.occupy-widget #occupy-site { float: left; display: inline; }

#occupy-avatars { position: absolute; bottom: -10px; left: 25px; }
#occupy-protestor_avatars { margin-top: 50px; pointer-events: none; }
#occupy-protestor_count { float: left; color: #ccc; margin-left: 10px; }

/* Fix any stray a bg styles, like on fffff.at */
.occupy-widget a, .occupy-widget a:link, .occupy-widget a:visited { background-color: transparent; border-color: transparent; }

#occupy-mute {
  position: absolute;
  z-index: 301;
  left: 158px;
  bottom: 21px;
}

#occupy-length { background: #f0f0c0; color: #000;padding: 6px 0; font-size: 9pt; font-weight: bold; }
#occupy-length a, #occupy-length a:link, #occupy-length a:visited { color: #000; text-decoration: none; }
#occupy-length a:hover { color: #ff0; }
#occupy-length span { font-weight: normal; }

#occupy-joinprotest {
  position: absolute;
  z-index: 300;
  bottom: 20px;
  left: 15px;
  text-align: center;
  padding-right: 10px;
  width: 143px;
}
#occupy-joinprotest form { margin: 0; }
#occupy-joinprotest a { font-size: 8pt; }
#occupy-joinprotest a#occupy-joinprotest-header {
  background-color: #f0f;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
}
#occupy-joinprotest a#occupy-joinprotest-header:hover { color: #ff0; }

#occupy-joinprotest a#occupy-joinprotest-button {
  font-style: italic;
  font-weight: bold;
  font-size: 15pt;
  background-color: #000;
  color: #fff;
  display: block;
  margin-top: 5px;
  padding: 21px 20px;
  text-decoration: none;
}
#occupy-joinprotest a#occupy-joinprotest-button:hover { background-color: #ff0; color: #000; }


#occupy-exhibition-info { position: absolute; display: none; }
#occupy-exhibition-info a { padding: 10px 5px; text-decoration: none; z-index: 100; }
#occupy-exhibition-info a:hover { padding-left: 10px; }
#occupy-exhibition-title { position: absolute; top: 220px; font-size:15px; width:250px; background-color:yellow; color: #000; padding-top: 15px; font-weight: bold; }
#occupy-exhibition-fatlab-link { position: absolute; top: 250px; font-size: 11px; width: 170px; background-color: #FF00FF; color: #fff; height: 8px; padding: 0; margin: 0;  }


a.avatar-link { text-decoration: none; }
a.avatar-link span.avatar-caption { display: none; background-color: #f0f; color: #fff; border: 0; }
a.avatar-link:hover { margin-top: 100px; }
a.avatar-link:hover span.avatar-caption { display: block; margin-left: 50px; position: relative; top: -50px; padding-top: 10px; }
span.avatar-caption strong { font-weight: bold; }
</style>

<script type="text/javascript">

function load_protest(data){
  var avatar_output = '';
  if (is_exhibition_running()) {
    debug("EXHIBITION IS A GO!");
    avatar_output = build_exhibition_avatars();
  } else {
    debug("Using old occupyinter.net protest");
    avatar_output = build_avatars();
  }

  // Add and start animating
  var protester_avatars = document.getElementById('occupy-protestor_avatars');
  if (typeof(protester_avatars) != 'undefined') protester_avatars.innerHTML = avatar_output;

  add_audio();
  show_protest();

  if (!is_exhibition_running()) {
    debug("animating avatars...");
    move_avatars();
  }
};

function is_exhibition_running(){
  var start_date = Date.UTC(2011, 11, 1, 13, 0, 0), // Nov 1 8am EST
      end_date = Date.UTC(2011, 11, 4, 13, 0, 0); // Nov 4 8am EST

  // stupid but effective
  var now = new Date();
  var month = now.getUTCMonth() + 1; // FIXME why is this -1?!?! really weird...
  var now_utc = Date.UTC(now.getUTCFullYear(), month, now.getUTCDate(),  now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());

  if (now_utc >= start_date && now_utc <= end_date) {
    return true;
  } else if (is_dev()) {
    debug("Devmode, enabling exhibition");
    return true;
  } else {
    return false;
  }
}

function is_dev(){
  return window.location.hostname == 'localhost' || window.location.hostname == 'localtunnel';
}

function build_avatars(){
  var avatar_output = '';

  // Create some fakeish protestor data
  data = {}
  if (typeof(occupy_internet_protesters) == 'object' && occupy_internet_protesters.length) {
    data.protesters = occupy_internet_protesters;
  }
  if (typeof(data.protesters) == 'undefined' || data.protesters.length <= 0) {
    data.protesters = <%= avatars.to_json %>;
  }

  // Randomize avatar order
  data.protesters.sort(function(){ return 0.5 - Math.random() });

  // Add specified number of avatars
  var max_protesters = 10;
  if (data.protesters.length < max_protesters) max_protesters = data.protesters.length;
  for(var i = 0; i < max_protesters; i++){
    var protestor = data.protesters[i];

    var bottom = 0,
        left = (i*150)-50,
        zindex = (100+Math.floor(Math.random()*20));
    avatar_output += '<div id="avatar'+i+'" class="bigavatar" style="position: absolute; bottom: '+bottom+'px; left: '+left+'px; z-index: '+zindex+'">';
    avatar_output += '<img src="'+protestor.avatar+'" />';
    // if(protestor.tagline != '' && protestor.tagline != undefined){
    //  avatar_output += '<span class="tagline">'+protestor.tagline+'</span>';
    // }
    avatar_output += '</div>';
  }
  return avatar_output;
}

function build_exhibition_avatars(){

  // Hide occupy stuff, show exhibition stuff
  document.getElementById('occupy-joinprotest').style.display = 'none';
  document.getElementById('occupy-mute').style.display = 'none';
  document.getElementById('occupy-exhibition-info').style.display = 'block';
  document.getElementById('occupy-avatars').style.bottom = '0px';
  document.getElementById('occupy-avatars').style.left = '0px';

  // Allow mouse pointer events now
  //document.getElementById('occupy-protestor_avatars').style.pointerEvents = 'auto';

  var avatar_output = '';
  var data =  [
    // Curated by Evan Roth (@fi5e) http://evan-roth.com
    {'avatar':'<%= server %>/exhibition/constant-dullaart-occupy.gif', 'artist':'Constant Dullaart', 'artist_url':'http://constantdullaart.com/', 'title':'Constant Dullaart', 'left':'50', 'bottom':'-220'},
    {'avatar':'<%= server %>/exhibition/olia-dragan-2-occupy.gif', 'artist':'Olia Lialina', 'artist_url':'http://art.teleportacia.org/olia.html', 'title':'Olia Lialina', 'left':'0', 'bottom':'0'},
    {'avatar':'<%= server %>/exhibition/charlie-todd-occupy.gif', 'artist':'Charlie Todd', 'artist_url':'http://improveverywhere.com/', 'title':'Charlie Todd', 'left':'1100', 'bottom':'0', 'width':'250', 'height':'187'},
    {'avatar':'<%= server %>/exhibition/UBERMORGEN-occupy.gif', 'artist':'UBERMORGEN', 'artist_url':'http://www.ubermorgen.com/', 'title':'UBERMORGEN', 'left':'300', 'bottom':'25', 'width':'800', 'height':'194'},
    {'avatar':'<%= server %>/exhibition/brad-downey-occupy.gif', 'artist':'Brad Downey', 'artist_url':'http://www.braddowney.com/', 'title':'Brad Downey', 'left':'890', 'bottom':'50', 'width':'250', 'height':'316'},
    {'avatar':'<%= server %>/exhibition/la-quadrature-occupy-internet.gif', 'artist':'La Quadrature Du Net', 'artist_url':'http://www.laquadrature.net/', 'title':'La Quadrature Du Net', 'left':'1250', 'bottom':'0', 'width':'225', 'height':'212'},
    {'avatar':'<%= server %>/exhibition/mark-jenkins-occupy.gif', 'artist':'Mark Jenkins', 'artist_url':'http://www.xmarkjenkinsx.com/', 'title':'Mark Jenkins', 'left':'410', 'bottom':'0', 'width':'175', 'height':'296'},
    {'avatar':'<%= server %>/exhibition/olia-dragan-occupy.gif', 'artist':'Dragan Espenschied', 'artist_url':'http://drx.a-blast.org/~drx/index.en.html', 'title':'Dragan Espenschied', 'left':'70', 'bottom':'0'},
    {'avatar':'<%= server %>/exhibition/peretti-occupy-1.gif', 'artist':'Jonah Peretti & Chelsea Peretti', 'artist_url':'http://www.blackpeopleloveus.com/', 'title':'Jonah Peretti & Chelsea Peretti', 'left':'980', 'bottom':'0', 'width':'200', 'height':'209'},
    {'avatar':'<%= server %>/exhibition/ryder-ripps-occupy.gif', 'artist':'Ryder Ripps', 'artist_url':'http://ryder-ripps.com/', 'title':'Ryder Ripps', 'left':'600', 'bottom':'0', 'width':'250', 'height':'250'},
    {'avatar':'<%= server %>/exhibition/peretti-occupy-2.gif', 'artist':'Jonah Peretti & Chelsea Peretti', 'artist_url':'http://www.blackpeopleloveus.com/', 'title':'Jonah Peretti & Chelsea Peretti', 'left':'1330', 'bottom':'0', 'width':'200', 'height':'306'},
    {'avatar':'<%= server %>/exhibition/aram-bartholl-occupy.gif', 'artist':'Aram Bartholl', 'artist_url':'http://datenform.de/', 'title':'Aram Bartholl', 'left':'1530', 'bottom':'0', 'width':'200', 'height':'223'},
    {'avatar':'<%= server %>/exhibition/telecomix-occupy.gif', 'artist':'Telecomix', 'artist_url':'http://telecomix.org/', 'title':'Telecomix', 'left':'1450', 'bottom':'0'},
    {'avatar':'<%= server %>/exhibition/rafael-rozendaal-occupy.gif', 'artist':'Rafael Rozendaal', 'artist_url':'http://www.newrafael.com/', 'title':'Rafael Rozendaal', 'left':'200', 'bottom':'0'},
    {'avatar':'<%= server %>/exhibition/moot-occupy.gif', 'artist':'moot', 'artist_url':'http://www.4chan.org/', 'title':'moot', 'left':'350', 'bottom':'0', 'width':'94', 'height':'235'}
  ];

  for(var i = 0; i < data.length; i++){
    var protestor = data[i],
        bottom = protestor.bottom,
        left = protestor.left,
        zindex = 100 + i,
        caption = 'By <strong>'+protestor.artist+'</strong>';

    avatar_output += '<div id="avatar'+i+'" class="bigavatar" style="position: absolute; bottom: '+bottom+'px; left: '+left+'px; z-index: '+zindex+'">';
    avatar_output += '<a rel="nofollow" class="avatar-link" href="'+protestor.artist_url+'" target="_blank">';
    avatar_output += '<img src="'+protestor.avatar+'" alt="'+caption+'" title="'+caption+'"';
    if (protestor.height && protestor.height){
      avatar_output += ' width="'+protestor.width+'" height="'+protestor.height+'"';
    }
    avatar_output += ' />';
    avatar_output += '<span class="avatar-caption">'+caption+'</a>';
    avatar_output += '</a>';
    // if(protestor.tagline != '' && protestor.tagline != undefined){
    //  avatar_output += '<span class="tagline">'+protestor.tagline+'</span>';
    // }
    avatar_output += '</div>';
  }
  return avatar_output;



}

var audio_is_playing = false;
function add_audio(){
  var audio = document.createElement('audio'),
      img = document.getElementById('occupy-audio-image');

  if (!audio) return;

  audio.id = 'occupy-audio';
  audio.loop = 'true';
  audio.volume = .2;
  audio.src = '<%= default_sound_url %>';
  if (typeof(occupy_internet_audio_src) != 'undefined') audio.src = occupy_internet_audio_src;

  if (!!audio_setting().play) {
    audio.play();
    audio_is_playing = true;
    if (img) img.src = "<%= server %>/images/mute.png";
  } else {
    if (img) img.src = "<%= server %>/images/unmute.png";
  }

  var widget = document.getElementById('occupy-widget')
  if (widget) widget.appendChild(audio);
}

function toggle_audio(){
  var audio = document.getElementById('occupy-audio'),
      img = document.getElementById('occupy-audio-image');

  if (!audio) return;

  if (!!audio_is_playing){
    // add cookie thing here (set false)
    audio.pause();
    audio_is_playing = false;
    if (img) img.src = "<%= server %>/images/unmute.png";
  } else {
    // add cookie thing here (set true)
    audio.play();
    audio_is_playing = true;
    if (img) img.src = "<%= server %>/images/mute.png";
  }
}
function audio_setting() {
  // add cookie stuff here to detect play or pauses
  return {play : false};
}


function show_protest(){
  var widget_wrapper = document.getElementById('occupy-widget-wrapper');
  if (!widget_wrapper) return;
  widget_wrapper.style.display = "block";

  // var avatars = document.getElementById('occupy-avatars');
  // avatars.style.bottom = "-200px";
  // slide_protest_in(avatars);
}

function slide_protest_in(el){
  setTimeout(function(){
    if(parseInt(el.style.bottom) >= -20){
      // Done
    }
    else {
      el.style.bottom = (parseInt(el.style.bottom) + 12)+'px';
      slide_protest_in(el);
    }
  }, 10);
}


function move_avatars(counter){
  setTimeout(function(){
    if(counter == undefined){
      counter = 0;
    }
    var els = document.getElementsByClassName('bigavatar');
    for(var j = 0; j < els.length; j++){
      var el = els[j];
      var distance = (counter % 10 < 5) == 0 ? -2 : 2;
      if(counter % 15 == 0){
        var left = (counter + j) % 2 == 0 ? 4 : -4;
      }
      el.style.bottom = (parseInt(el.style.bottom) + distance) + 'px';
      el.style.left = (parseInt(el.style.left) + left) + 'px';
    }

    counter += 1;
    move_avatars(counter);
  }, 100);
}

function toggle_customize(){
  return true; // disabled

  var el = document.getElementById('occupy-customize');
  if (!el) return false;
  if(el.style.display == 'none'){
    el.style.display = 'block';
  } else {
    el.style.display = 'none';
  }
}

function join_protest(){
  document.getElementById('occupy-joinprotest-form').submit();
}

// Initialize protest onload
if(window.attachEvent) {
  window.attachEvent('onload', load_protest);
} else {
  if(window.onload) {
    var curronload = window.onload;
    var newonload = function() {
      load_protest;
    };
    window.onload = newonload;
  } else {
    window.onload = load_protest;
  }
}


</script>

<div id="occupy-widget-wrapper" style="display: none;">
<div id="occupy-widget" class="occupy-widget">
  <script type="text/javascript">
  var dev_mode = <%= dev? %>;
  function debug(msg) {
    if (!dev_mode) return;
    console.log(msg);
  }

  <% avatar_orderly = ['0','false'].include?(params['orderly'].to_s) ? 'false' : 'true' %>
  <% avatar_size = params['size'] ? params['size'].to_i : 200 %>

  var avatar_orderly = <%= avatar_orderly %>;
  var avatar_size = '<%= avatar_size %>px';
  </script>

  <div id="occupy-joinprotest">
    <form id="occupy-joinprotest-form" method="POST" action="<%= server %>/join_protest">
      <a href="http://fffff.at/occupy-the-internet" target="_blank" class="bigavatar" id="occupy-joinprotest-button">We Are Occupying The Internet!</a>
    </form>
    <div id="occupy-length">
      <a href="<%= server %>/stats">
        <%= @host %>: <span id="occupy-length-days"><%= @been_protesting_for %> <%= @been_protesting_for != 1 ? 'days' : 'day' %></span>
      </a>
    </div>
  </div>

  <div id="occupy-mute">
    <a href="#" onclick="toggle_audio(); return false;"><img id="occupy-audio-image" src="<%= server %>/images/mute.png" alt="Mute" title="Mute Protest Audio" /></a>
  </div>

  <div id="occupy-exhibition-info">
    <a id="occupy-exhibition-title" href="http://fffff.at/occupy-the-internet-the-exhibition/">Occupy The Internet Exhibition</a>
    <a id="occupy-exhibition-fatlab-link" href="http://fffff.at">11/1&ndash;11/4&nbsp;&nbsp;more info on fffff.at</a>
  </div>

  <div id="occupy-avatars"><span id="occupy-protestor_avatars"></span></div>
</div>
</div>
