<% server = "http://#{request.host_with_port}" %>

<script type="text/javascript">

<%= erb :avatars %>

function load_protest(data){
  var avatar_output = '';

  // Hardcode the response data
  if (data == undefined) data = {};
  if (typeof(occupy_internet_protesters) == 'object' && occupy_internet_protesters.length) data.protesters = occupy_internet_protesters;
  if (typeof(data.protesters) == 'undefined' || data.protesters.length <= 0) {

    /* DON'T PUT AVATARS IN HERE... CONTIUNE TO PUT THEM IN _AVATARS.ERB!!!! */

    data.protesters = [
      {avatar: "http://occupyinter.net/avatars/banana-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/jig-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/gdance-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/david_goliath-evanroth-stevelambert-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/bugs_troll_mrqmarx.gif"},
      {avatar: "http://occupyinter.net/avatars/hallo-surfer_dragan.gif"},
      {avatar: "http://occupyinter.net/avatars/jesus-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/moonwalk-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/jeanluc-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/occupy-net-evanroth-02.gif"},
      {avatar: "http://occupyinter.net/avatars/headless-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/occupy-net-evanroth-03.gif"},
      {avatar: "http://occupyinter.net/avatars/unicorn-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/retake-public-domain_telegramsam.jpg"},
      {avatar: "http://occupyinter.net/avatars/chunli-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/classwar-ahead_goulassoflosy.gif"},
      {avatar: "http://occupyinter.net/avatars/pow-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/droid-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/hulkster-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/dino-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/cxzy-dear-maslow-2.gif"},
      {avatar: "http://occupyinter.net/avatars/snoop-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/bellydance-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/txt-minimi_makemoney.gif"},
      {avatar: "http://occupyinter.net/avatars/frodo-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/bowlers-evanroth-occupy.gif"},
      {avatar: "http://occupyinter.net/avatars/1319050295853-dumpfm-LCKY-capitalismidgi_trans.gif"},
      {avatar: "http://occupyinter.net/avatars/1319050301805-dumpfm-LCKY-gifpikaball02_trans.gif"},
      {avatar: "http://occupyinter.net/avatars/1319051214937-dumpfm-melipone-LCKYPIKAtrans.gif"},
      {avatar: "http://occupyinter.net/avatars/1319053612901-dumpfm-LCKY-VIP9.gif"},
      {avatar: "http://occupyinter.net/avatars/tired.gif"},
      {avatar: "http://occupyinter.net/avatars/hula.gif"},
      {avatar: "http://occupyinter.net/avatars/occupyinternet.gif"},
      {avatar: "http://occupyinter.net/avatars/occupyinternet2.gif"},
      {avatar: "http://occupyinter.net/avatars/OCC.gif"}
    ];
  }

  // Randomize dem avatars
  data.protesters.sort(function(){ return 0.5 - Math.random() });

  // Current user's id; not using this yet
  data.uuid = undefined;


  // Change 'start' to 'join' if people here already
  // if(data.protesters.length > 0){
  //   document.getElementById('occupy-joinprotest-button').innerHTML = 'Join The Protest!';
  // }

  // Add a selection of our avatars
  // FIXME don't want to load too many imgs, but what's the right #?
  var max_protesters = 10;
  if (data.protesters.length < max_protesters) max_protesters = data.protesters.length;
  for(var i = 0; i < max_protesters; i++){
    var protestor = data.protesters[i];
    protestor.uuid = i + 1; // ...

    var bottom = 0,
        left = (i*150)-50,
        zindex = (100+Math.floor(Math.random()*20));
    avatar_output += '<div id="avatar'+i+'" class="bigavatar" style="position: absolute; bottom: '+bottom+'px; left: '+left+'px; z-index: '+zindex+'">';
    var owner = data.uuid != undefined && protestor.uuid == data.uuid;

    if(owner){
      document.getElementById('occupy-joinprotest').style.display = 'none';
      document.getElementById('occupy-avatars').style.left = '0px';

      avatar_output += '<div id="occupy-you">';
      avatar_output += 'This is you!';
      avatar_output += '<a id="customize_button" href="<%= server %>/customize" onclick="toggle_customize();">';
      avatar_output += 'Customize Your Avatar';
      avatar_output += '<img src="<%= server %>/images/arrow-down1.jpg" height="32" />';
      avatar_output += '</div>';
    }

    avatar_output += '<img src="'+protestor.avatar+'" />';

    if(owner){
      avatar_output += '</a>';
    }

    // if(protestor.tagline != '' && protestor.tagline != undefined){
    //  avatar_output += '<span class="tagline">'+protestor.tagline+'</span>';
    // }

    avatar_output += '</div>';
  }

  // Add and start animating
  var protester_avatars = document.getElementById('occupy-protestor_avatars');
  if (typeof(protester_avatars) != 'undefined') protester_avatars.innerHTML = avatar_output;

  add_audio();
  move_avatars();
  show_protest();
};

var audio_is_playing = false;
function add_audio(){
  var audio = document.createElement('audio'),
      img = document.getElementById('occupy-audio-image');

  if (!audio) return;

  audio.setAttribute
  audio.id = 'occupy-audio';
  audio.src = '<%= server %>/crowd.mp3';
  if (typeof(occupy_internet_audio_src) != 'undefined') audio.src = occupy_internet_audio_src;
  audio.loop = 'true';
  audio.volume = .2;

  if (!!audio_setting().play) {
    audio.play();
    audio_is_playing = true;
    if (img) img.src = "<%= server %>/images/mute.png";
  } else {
    if (img) img.src = "<%= server %>/images/unmute.png";
  }

  var widget = document.getElementById('occupy-widget')
  if (widget) widget.appendChild(audio);
}

function toggle_audio(){
  var audio = document.getElementById('occupy-audio'),
      img = document.getElementById('occupy-audio-image');

  if (!audio) return;

  if (!!audio_is_playing){
    // add cookie thing here (set false)
    audio.pause();
    audio_is_playing = false;
    if (img) img.src = "<%= server %>/images/unmute.png";
  } else {
    // add cookie thing here (set true)
    audio.play();
    audio_is_playing = true;
    if (img) img.src = "<%= server %>/images/mute.png";
  }
}
function audio_setting() {
  // add cookie stuff here to detect play or pauses
  return {play : true};
}


function show_protest(){
  var widget = document.getElementById('occupy-widget');
  if (!widget) return;
  widget.style.display = "block";

  // var avatars = document.getElementById('occupy-avatars');
  // avatars.style.bottom = "-200px";
  // slide_protest_in(avatars);
}

function slide_protest_in(el){
  setTimeout(function(){
    if(parseInt(el.style.bottom) >= -20){
      // Done
    }
    else {
      el.style.bottom = (parseInt(el.style.bottom) + 12)+'px';
      slide_protest_in(el);
    }
  }, 10);
}


function move_avatars(counter){
  setTimeout(function(){
    if(counter == undefined){
      counter = 0;
    }
    var els = document.getElementsByClassName('bigavatar');
    for(var j = 0; j < els.length; j++){
      var el = els[j];
      var distance = (counter % 10 < 5) == 0 ? -2 : 2;
      if(counter % 15 == 0){
        var left = (counter + j) % 2 == 0 ? 4 : -4;
      }
      el.style.bottom = (parseInt(el.style.bottom) + distance) + 'px';
      el.style.left = (parseInt(el.style.left) + left) + 'px';
    }

    counter += 1;
    move_avatars(counter);
  }, 100);
}

function toggle_customize(){
  return true; // disabled

  var el = document.getElementById('occupy-customize');
  if (!el) return false;
  if(el.style.display == 'none'){
    el.style.display = 'block';
  } else {
    el.style.display = 'none';
  }
}

function join_protest(){
  document.getElementById('occupy-joinprotest-form').submit();
}

// Initialize protest onload
if(window.attachEvent) {
  window.attachEvent('onload', load_protest);
} else {
  if(window.onload) {
    var curronload = window.onload;
    var newonload = function() {
      load_protest;
    };
    window.onload = newonload;
  } else {
    window.onload = load_protest;
  }
}


</script>

<div id="occupy-widget" class="occupy-widget" style="display: none;">
  <script type="text/javascript">
  <% avatar_orderly = ['0','false'].include?(params['orderly'].to_s) ? 'false' : 'true' %>
  <% avatar_size = params['size'] ? params['size'].to_i : 200 %>
  <%# site_created_at = redis.get("site/#{host}/created_at") %>

  var avatar_orderly = <%= avatar_orderly %>;
  var avatar_size = '<%= avatar_size %>px';
  // var site_created_at = '<%= site_created_at %>';
  </script>

  <link rel="stylesheet" type="text/css" href="<%= server %>/stylesheets/widget.css" />

  <div id="occupy-joinprotest">
    <form id="occupy-joinprotest-form" method="POST" action="<%= server %>/join_protest">
      <!-- <a href="http://fffff.at/enlist-today" id="occupy-joinprotest-header" target="_blank">Occupy Internet</span> -->
      <a href="http://fffff.at/occupy-the-internet" target="_blank" class="bigavatar" id="occupy-joinprotest-button">We Are Occupying The Internet!</a>
    </form>
  </div>

  <div id="occupy-mute">
    <a href="#" onclick="toggle_audio(); return false;"><img id="occupy-audio-image" src="<%= server %>/images/mute.png" alt="Mute" title="Mute Protest Audio" /></a>
  </div>

  <div id="occupy-avatars"><span id="occupy-protestor_avatars"></span></div>
</div>
