%link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/stylesheets/frontpage.css'}

- script_src = "http://#{request.host_with_port}/embed.js"

:javascript
  var prev_size;
  function update_embed_code(size){
    var el = document.getElementById('embed_code');
    var script_src = #{script_src.inspect};
    var orderly = document.getElementById('orderly').checked;
    el.innerHTML = script_src+"?size="+size+"&orderly="+avatar_orderly;
    if(size == undefined) size = '200'; // FIXME not resetting properly. Just add jquery, yeesh

    var url = '';
    if(orderly == false) {
      url = 'http://#{request.host_with_port}/embed.js?orderly='+orderly;
      el.innerHTML = '<sc'+'ript src="'+url+'"></sc'+'ript>';
    }
    else {
      url = 'http://#{request.host_with_port}/embed.js?size='+size;
      el.innerHTML = '<sc'+'ript src="'+url+'"></sc'+'ript>';
    }

    // Unload old protest script, then create <script> and inject
    var widget = document.getElementById('occupy-widget');
    if(widget) {
      widget.parentNode.removeChild(widget);
    }
    var old_skript = document.getElementById('embed_demo');
    if(old_skript){
      old_skript.parentNode.removeChild(old_skript);
    }

    var skript = document.createElement('script');
    skript.id = "embed_demo";
    skript.type = 'text/javascript';
    skript.src = url;
    document.body.appendChild(skript);
  }

#container
  #demo
    #header
      %h1
        %a{:href => '/'} Occupy The Internet

    %p
      Are you a “webmaster”, admin, blog owner or someone with access to index.html files? Are you interested in taking part in the recent global wave of revolution from the comfort of your home computer?
      <em>Occupy the Internet!</em>
    %p
      Add the animated GIF army to websites you control (or can get control of) by pasting the following code into any HTML file:

    %textarea#embed_code{:rows => 2, :cols => 100, :readonly => 'readonly', :onclick => "this.select()"}
      == <script src="#{script_src}"></script>

    = erb :'_socialmedia'

    %hr
    %h2 Info
    %p
      For the full list of occupied websites visit <a href="http://fffff.at/occupy-the-internet">fffff.at/occupy-the-internet</a>
    %p
      To add your occupied website to this list send us an email <script>document.write('<a href="mailto:info@fffff.at">info[at]fffff.at</a>')</script>
      or tweet us <a href="http://twitter.com/fffffat">@FFFFFAT</a>

    %hr
    %h2 Other Ways to Protest
    %h3 Browser Extensions
    %p
      Install Occupy Internet browser addons on the computers of the 1%:
    %p{:style => "text-align: center; padding: 16px 0 16px 0;"}
      <a href="http://addons.gleuch.com/occupy-internet/downloads/chrome" style="display: inline-block; padding: 7px 14px 9px 14px; margin: 0 3px; background: #000; color: #fff; text-shadow: 0 0 1px rgba(0,0,0,.24); font-weight: bold; font-size: 24px; border: 3px solid #ff00ff; text-decoration: none; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 5px;" onmouseover="this.style.backgroundColor='#e500e5'; this.style.borderColor='#e500e5';" onmouseout="this.style.backgroundColor='#ff00ff'; this.style.borderColor='#ff00ff';">Chrome</a>
      <a href="http://addons.gleuch.com/occupy-internet/downloads/firefox" style="display: inline-block; padding: 9px 16px 12px 16px; margin: 0 3px; background: #ff00ff; color: #fff; text-shadow: 0 0 1px rgba(0,0,0,.24); font-weight: bold; font-size: 24px; border: 3px solid #ff00ff; text-decoration: none; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 5px;" onmouseover="this.style.backgroundColor='#e500e5'; this.style.borderColor='#e500e5';" onmouseout="this.style.backgroundColor='#ff00ff'; this.style.borderColor='#ff00ff';">Firefox</a>
      <a href="http://fffff.at/occupy/occupy.safariextz.zip" style="display: inline-block; padding: 9px 16px 12px 16px; margin: 0 3px; background: #ff00ff; color: #fff; text-shadow: 0 0 1px rgba(0,0,0,.24); font-weight: bold; font-size: 24px; border: 3px solid #ff00ff; text-decoration: none; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 5px;" onmouseover="this.style.backgroundColor='#e500e5'; this.style.borderColor='#e500e5';" onmouseout="this.style.backgroundColor='#ff00ff'; this.style.borderColor='#ff00ff';">Safari</a>

    %h3 Webpage Hijack
    %p
      Check out the <a href="http://fffff.at/occupy-the-internet-phase-2/">Occupy the Internet - The Service</a> iframe tool, which
      lets you enter a URL and start protesting the site.

    %hr
    %h2 GIFs
    %p
      If you would like to contribute animated GIF occupation soldiers please leave URLs in the comment thread of <a href="http://fffff.at/enlist-today/">this post</a> where they will be called up for duty. Note: images should have transparent backgrounds.

    %hr

    %h2 Source Code
    %p
      <a href="https://github.com/jamiew/occupy-internet-widget">http://github.com/jamiew/occupy-internet-widget</a> <br />
      MIT Licensed

    %h2 About
    %p
      A <strong><a href="http://fffff.at">F.A.T. Lab</a></strong> Production<br />
      Concept development by <a href="http://www.theowatson.com/">Theo</a>, <a href="http://www.simple-mechanisms.com/">Jerry</a>, <a href="http://jamiedubs.com/">Jamie</a>, <a href="http://gleuch.com/">Greg</a>, <a href="http://evan-roth.com">Evan</a>, <a href="http://datenform.de/">Aram</a>, and <a href="http://tobi-x.com">Tobi</a>
      Code development by <a href="http://jamiedubs.com/">Jamie</a>, <a href="http://gleuch.com">Greg</a>, <a href="http://theowatson.com">Theo</a>, and <a href="http://tobi-x.com">Tobi</a>.


    - if false
      %form
        #embed_size
          %strong Size
          %label{:for => 'small'} Small
          %input{:type => 'radio', :name => 'size', :id => 'small', :value => '100', :onclick => 'update_embed_code(this.value)'}
          %label{:for => 'medium'} Medium
          %input{:type => 'radio', :name => 'size', :id => 'medium', :value => '200', :checked => 'checked', :onclick => 'update_embed_code(this.value)'}
          %label{:for => 'large'} Large
          %input{:type => 'radio', :name => 'size', :id => 'large', :value => '300', :onclick => 'update_embed_code(this.value)'}
          %label{:for => 'extralarge'} XL
          %input{:type => 'radio', :name => 'size', :id => 'extralarge', :value => '500', :onclick => 'update_embed_code(this.value)'}
        #embed_orderly
          %label{:for => 'orderly'} <strong>Orderly protest?</strong>
          %input{:type => 'checkbox', :name => 'orderly', :id => 'orderly', :checked => 'checked', :onclick => 'update_embed_code()'}

    -# TODO put this in an frame so we can update it from the customizer
    %script{:id => 'embed_demo', :src => "http://#{request.host_with_port}/embed.js"}

