- protocol = request.env['rack.url_scheme']
- script_src = "#{protocol}://#{request.host_with_port}/embed.js"

:javascript
  var prev_size;
  function update_embed_code(size){
    var el = document.getElementById('embed_code');
    var script_src = #{script_src.inspect};
    var orderly = document.getElementById('orderly').checked;
    el.innerHTML = script_src+"?size="+size+"&orderly="+avatar_orderly;
    if(size == undefined) size = '200'; // FIXME not resetting properly. Just add jquery, yeesh

    var url = '';
    if(orderly == false) {
      url = '#{protocol}://#{request.host_with_port}/embed.js?orderly='+orderly;
      el.innerHTML = '<sc'+'ript src="'+url+'"></sc'+'ript>';
    }
    else {
      url = '#{protocol}://#{request.host_with_port}/embed.js?size='+size;
      el.innerHTML = '<sc'+'ript src="'+url+'"></sc'+'ript>';
    }

    // Unload old protest script, then create <script> and inject
    var widget = document.getElementById('occupy-widget');
    if(widget) {
      widget.parentNode.removeChild(widget);
    }
    var old_skript = document.getElementById('embed_demo');
    if(old_skript){
      old_skript.parentNode.removeChild(old_skript);
    }

    var skript = document.createElement('script');
    skript.id = "embed_demo";
    skript.type = 'text/javascript';
    skript.src = url;
    document.body.appendChild(skript);
  }

#demo
  %a{:name => "embeddable-protest"}
  %p
    Are you a "webmaster", admin, blog owner or someone with access to index.html files? Are you interested in taking part in the recent global wave of revolution from the comfort of your home computer?
    <em>Occupy the Internet!</em>
  %p
    Add the animated GIF army to websites you control (or can get control of) by pasting the following code into any HTML file:

  %textarea#embed_code{:rows => 2, :cols => 100, :readonly => 'readonly', :onclick => "this.select()"}
    == <script src="#{script_src}"></script>

  %p
    For the full list of occupied websites visit <a href="http://fffff.at/occupy-the-internet">fffff.at/occupy-the-internet</a>
  %p
    To add your occupied website to this list send an email to <script>document.write('<a href="mailto:info@fffff.at">info[at]fffff.at</a>')</script>
    or tweet us <a href="https://twitter.com/fffffat">@FFFFFAT</a>

  %hr
  %a{:name => "browser-addons"}
  %h2 Browser Addons
  %p
    Take over the computers of the 1% by installing <a href="http://fffff.at/occupy-internet-extensions/">Occupy Internet browser addons</a> on their computers:
  %p.install-addons
    <a class="addon-button" href="http://addons.gleuch.com/occupy-internet/downloads/chrome">Chrome</a>
    <a class="addon-button" href="http://addons.gleuch.com/occupy-internet/downloads/firefox">Firefox</a>
    <a class="addon-button" href="http://fffff.at/occupy/occupy.safariextz.zip">Safari</a>

  %hr
  %a{:name => "site-hijack"}
  %h2 Webpage Hijack
  %p
    Use the <a href="http://fffff.at/occupy-the-internet-phase-2/">Occupy the Internet - The Service</a> tool, which
    lets you enter a URL and protest any website, e.g.:
    %ul
      %li <a href="http://fffff.at/occupy/jpmorganchase.com">jpmorganchase.com</a>
      %li <a href="http://fffff.at/occupy/barclays.co.uk">barclays.co.uk</a>

  %hr
  %h2 GIFs
  %p
    If you would like to contribute animated GIF occupation soldiers please leave URLs in the comment thread of <a href="http://fffff.at/enlist-today/">this post</a> where they will be called up for duty. Note: images should have transparent backgrounds.

  %hr
  %h2 Source Code
  %p
    <a href="https://github.com/jamiew/occupy-internet-widget">http://github.com/jamiew/occupy-internet-widget</a> <br />
    MIT Licensed

  %hr
  %a{:name => "about"}
  %h2 About
  %p
    A <strong><a href="http://fffff.at">F.A.T. Lab</a></strong> Production
    <br />
    Concept development by <a href="http://www.theowatson.com/">Theo</a>, <a href="http://www.simple-mechanisms.com/">Jerry</a>, <a href="http://jamiedubs.com/">Jamie</a>, <a href="http://gleuch.com/">Greg</a>, <a href="http://evan-roth.com">Evan</a>, <a href="http://datenform.de/">Aram</a>, and <a href="http://tobi-x.com">Tobi</a>
    <br />
    Code development by <a href="http://jamiedubs.com/">Jamie</a>, <a href="http://gleuch.com">Greg</a>, <a href="http://theowatson.com">Theo</a>, and <a href="http://tobi-x.com">Tobi</a>.


  - if false
    %form
      #embed_size
        %strong Size
        %label{:for => 'small'} Small
        %input{:type => 'radio', :name => 'size', :id => 'small', :value => '100', :onclick => 'update_embed_code(this.value)'}
        %label{:for => 'medium'} Medium
        %input{:type => 'radio', :name => 'size', :id => 'medium', :value => '200', :checked => 'checked', :onclick => 'update_embed_code(this.value)'}
        %label{:for => 'large'} Large
        %input{:type => 'radio', :name => 'size', :id => 'large', :value => '300', :onclick => 'update_embed_code(this.value)'}
        %label{:for => 'extralarge'} XL
        %input{:type => 'radio', :name => 'size', :id => 'extralarge', :value => '500', :onclick => 'update_embed_code(this.value)'}
      #embed_orderly
        %label{:for => 'orderly'} <strong>Orderly protest?</strong>
        %input{:type => 'checkbox', :name => 'orderly', :id => 'orderly', :checked => 'checked', :onclick => 'update_embed_code()'}

  -# TODO put this in an frame so we can update it from the customizer
  %script{:id => 'embed_demo', :src => "#{protocol}://#{request.host_with_port}/embed.js"}

