
%h1 <a href="/stats">Top Protest Sites</a>

%p== Hits since 10/21/2011 1pm PST (Occupation day 3)

-# TODO keep these all in a sorted set
%table#site-stats
  %thead
    %tr
      %th.count &nbsp;&nbsp;&nbsp;&nbsp;
      %th.site Site
      %th.visits Visits
      %th.uniques Uniques
  %tbody
    - @sites.each_with_index do |arr,i|
      - site = arr[0]
      %tr
        %td.count= i+1
        %td.site
          %bold== <a rel="nofollow" href="http://#{site}">#{site}</a>
        %td.visits= commify(arr[1])
        %td.uniques= commify(arr[2])


