
%h1 <a href="/stats">Top Protest Sites</a>

- occupied_count = @hosts.select{|host| host.gsub(/^https?\:\/\//, '') =~ /^fffff.at\/?occupy\// }.length
%p== Current Time = #{Time.now}
%p== Hits counted since 10/21/2011 13:00 PST (<a href="http://fffff.at/occupy-the-internet">Occupation day 3</a>)

%p== #{@hosts.length - occupied_count} websites have installed the embed
%p== #{occupied_count} sites via fffff.at/occupy

-# TODO keep these all in a sorted set
%table#site-stats
  %thead
    %tr
      %th.count &nbsp;&nbsp;&nbsp;&nbsp;
      %th.site Site
      %th.visits Visits
      %th.uniques Uniques
  %tbody
    - max_length = 45
    - @sites.each_with_index do |arr,i|
      - site = arr[0]
      %tr
        %td.count= i+1
        %td.site
          %bold== <a rel="nofollow" href="http://#{site}">#{site.length > max_length ? site[0..max_length]+'...' : site}</a>
        %td.visits= commify(arr[1])
        %td.uniques= commify(arr[2])
