:css
  #info { float: right; background-color: #fafafa; border: 1px solid #efefef; width: 400px; padding: 0 20px; margin: 15px 0; }
  #info h2 { margin: 15px 0 0 0; padding: 0; }
  #summary-stats { margin-top: 20px; }

#info
  %h2 Stats
  %p== Current Time = #{Time.now}
  %p== Hits recorded since 10/21/2011 13:00 PST (<a href="http://fffff.at/occupy-the-internet">Day 3</a>)
  %p== For the complete list of #occupynet websites in chronological order <a href="/sites">click here</a>

#summary-stats
  - occupied_count = @hosts.select{|host| host.gsub(/^https?\:\/\//, '') =~ /^fffff.at\/?occupy\// }.length
  %p== #{@hosts.length - occupied_count} websites have installed the embed
  %p== #{occupied_count} sites via <a href="http://fffff.at/occupy" target="_blank">fffff.at/occupy</a>

-# TODO keep these all in a sorted set
%table#site-stats
  %thead
    %tr
      %th.count &nbsp;&nbsp;&nbsp;&nbsp;
      %th.site Site
      %th.visits Visits
      %th.uniques Uniques
  %tbody
    - max_length = 45
    - @sites.each_with_index do |arr,i|
      - site = arr[0]
      %tr
        %td.count= i+1
        %td.site
          %bold== <a rel="nofollow" href="http://#{site}">#{site.length > max_length ? site[0..max_length]+'...' : site}</a>
        %td.visits= commify(arr[1])
        %td.uniques= commify(arr[2])
